[submodule "Type-C.pretty"]
	path = Type-C.pretty
	url = https://github.com/ai03-2725/Type-C.pretty
[submodule "marbastlib"]
	path = marbastlib
	url = https://github.com/ebastler/marbastlib
	branch = untested
